<h1>Books</h1>

<table>

 <thead>
  <tr>
   <th>title</th>
   <th>body</th>
   <th></th>
  </tr>
 </thead>

 <tbody>
   <!-- tbody内に投稿一覧を表示させる -->
   <% @books.each do |book| %>
    <span><%= book.title %></span>
    <span><%= book.body %></span>
    <span><%= link_to "Show",book_path(book.id) %></span>
    <span><%= link_to "Edit",edit_book_path(book.id) %></span>
    <span><%= link_to "Destroy",destroy_book_path(book.id),method: :delete,"data-confirm" => "Are you sure?" %></span>
   <% end %>
 </tbody>

</table>


<h2>New book</h2>
<!-- form_with部分　領域は検証を確認してcss近づけたい -->

<%= form_with model:@book,local:true do |f| %>

<div class="field">
  <label for="book_title">Title</label>
  <%= f.text_field :title %>
</div>

<div class="field">
  <label for="book_body">Body</label>
  <%= f.text_area :body %>
</div>

<div class="actions">
  <%= f.submit 'Create Book' %>
</div>

<% end %>